.aboutus {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 7px;
  width: 100%;
}

.aboutus-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.aboutus-content {
  max-width: 600px;
  background-color: #00000080;
  padding: 20px;
  border-radius: 10px;
}

.aboutus-content h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;
}

.aboutus-content p {
  margin-bottom: 17px;
  line-height: 1.6;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutus {
    padding: 10px;
  }

  .aboutus-content {
    max-width: 100%;
    padding: 15px;
  }

  .aboutus-content h2 {
    font-size: 1.5rem;
  }

  .aboutus-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .aboutus-content h2 {
    font-size: 1.25rem;
  }

  .aboutus-content p {
    font-size: 0.85rem;
  }
}
