
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Hero Section */
.hero {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('homepic2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  position: relative;
  background-repeat: no-repeat;
}

/* Hero Content */
.hero-content {
  text-align: center;
  max-width: 500px;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

/* CTA Button */
.cta-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #01ab2e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #3CB371;
}